$icon-font-path: "../fonts";

$font-size-base: 18px;

// Basics of a navbar
$navbar-height: 55px;
$navbar-default-bg: rgba(255, 255, 255, 0.9);
$navbar-default-link-active-bg: rgba(0, 0, 0, 0.1);

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// General styling
body {
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 300;
}

h4{
  font-weight: 500;
}

strong {
  font-weight: 500;
}

// Homepage h1 styling

h1 small {
  color: #b9b9b9;
  font-weight: 100;
}

.home h1 {
  font-size: 2.8vw;
  position: relative;
  font-weight: 300;
  color: #ebf5f0;
  right: 64px;
  bottom: 20px;
}

// Navbar font tweaks
.navbar-brand {
  font-weight: 100;
}

.navbar-right a {
  font-weight: 300;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    padding-bottom: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 900px;
    }

    /* Remove the padding we set earlier */
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.no-margin {
    margin: 0;
}

.margin-only-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
